/*--------css-------*/


* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

header {
	background: #67c3ec;


	height: 4em;
	line-height: 4em;
	text-align: center;
	color: white;
}
main{
	width: 100%;
	margin: 0 auto;
}

img {
	width: 100%;
    
}



footer {
	max-width: 1100px;
    background-color: black;
    overflow: hidden;
    color: white;
    margin: auto;
    box-shadow: 0px 15px 22px -9px black;
    text-align: center;
}
#barra {
	width: 100%;
	height: calc(100vh - 4em);
	position: absolute;
	top: 4em;
	left: -100%;
	background: #67c3ec;
	transition: left .7s ease;
}


#barra li {
	list-style: none;
	margin: 1em;
	width: 90%;
	display: inline-block;
}

#barra li a {
	text-decoration: none;
	display: block;
	color: white;
	text-align: center;
	line-height: 2em;
}
#barra li a:hover {
	border: 1px solid white;
	border-radius: 10px;
	box-shadow: 10px 15px 22px -9px white;
	
}

textarea {	
	resize: none;
	margin: 1em 1em;
	width: 90%;
	padding: 1em 1em;
}
input {
    margin: 1em 1em;
    width: 90%;
    padding: 1em 1em;
    border-radius: 10px;	
}

#contacto  {
	background: linear-gradient(to bottom, #67c3ec, white);
}
#principal > h2 {
		display: none;
}





@media screen and (min-width: 600px) and (max-width: 700px){

	
	

	h1 {
		background: url(imagenes/logo2.png) no-repeat #67c3ec;
		height: 2.5em;
		text-indent: -2050px;
		overflow: hidden;
		/*margin-left: 70%;*/
	}
	#bicicletas > h3 {
		font-size: 2.5rem;
		font-family: 'Roboto', sans-serif;
	}
	#contacto {
		display: flex;
		flex-direction: row;	
		width: 100%;
		
	}
	#contacto > h2  {
		font-size: 2em;
		padding: 0.5em 2.4em;
		border-radius: 25px 25px 0px 0px;
		color: white;
	}
	#contacto > h2 > a {
		text-decoration: none;
		color: black;
	}
	#contacto > h2 > a:hover {
		color: #67c3ec;
		text-shadow: 1px 1px 2px black; 
	}
	#contacto > aside {
		display: flex;
		flex-wrap: wrap;
		width: 50%
	}
	#contacto > aside > div {
		width:50%;
			
	}
	#contacto > aside > form {
		width: 50%;		
			
		overflow: hidden;
	}
	#contacto > aside > div > iframe {
		width: 93%;
		border-radius: 15px;		
		box-shadow: 0px 15px 22px -9px black;
	}
	
	#contacto > aside > form > #comentarios  {
		margin-left: 5%;
	}
	#contacto > aside > div {
		width: 80%;
		margin: 0em 0em;
		padding: 2em 0.4em;
		text-align: center;
		margin-left: -1em;
		overflow: hidden;
	}
}

@media screen and (min-width: 522px) and (max-width: 600px){
	
	#bicicletas > h3 {
		font-size: 2.5rem;
		font-family: 'Roboto', sans-serif;	
	}
	
	#bicicletas > h3 > a {
		text-decoration: none; 
		color: black;
	}
	#bicicletas > h3 > a:hover {
		color: #67c3ec;
		text-shadow: 1px 1px 2px black; 
	}
	
	#ecologia {
		background: linear-gradient(to bottom, #67c3ec, white);		
		max-width: 1100px;
		margin: auto;
		width: 100%;
	}
	#ecologia > #dos {
		display: flex;
		
		justify-content: center;
		width: 100%;
	}
	#ecologia > #dos > div {
		margin: 1em;
	}
	#ecologia > #uno {
		padding: 40px;
		width: 100%;
		font-size: 1.5em;
		
	}
	#ecologia > #uno > h3  {
		font-family: verdana;
		font-size: 2.5em;
		padding-bottom: 1rem;
	}

	
	#ecologia > #uno > p > a {
		display: none;
		
	}
	#ecologia > #dos > :nth-child(1){
		width: 250px;
		height: 258px;
		border: 2px solid black;
		border-radius: 10px;
		background: url(imagenes/0011pc.jpg) no-repeat #fafafa;
		margin-bottom: 25px;
		margin-top: 55px;
		box-shadow: -5px -1px 13px -5px black;
	
	}
	
	#ecologia > #dos > :nth-child(2){
		width: 252px;
		height: 258px;
		border: 2px solid black;
		border-radius: 10px;
		background: url(imagenes/0015pc.jpg) no-repeat #fafafa;
		margin-bottom: 25px;
		margin-top: 55px;
		box-shadow: -5px -1px 13px -5px black;
	}
	
	#ecologia > #dos > :nth-child(3){
		width: 252px;
		height: 258px;
		border: 2px solid black;
		border-radius: 10px;
		background: url(imagenes/0013pc.jpg) no-repeat #fafafa;
		margin-bottom: 25px;
		margin-top: 55px;
		box-shadow: -5px -1px 13px -5px black;
	}
	#ecologia > #dos > :nth-child(4){
		width: 252px;
		height: 258px;
		border: 2px solid black;
		border-radius: 10px;
		background: url(imagenes/0013pc.jpg) no-repeat #fafafa;
		margin-bottom: 25px;
		margin-top: 55px;
		box-shadow: -5px -1px 13px -5px black;
	}
	#contacto > h2 {
		font-size: 2em;
		padding: 0.5em 2.4em;
		background: #67c3ec;
		border-radius: 25px 25px 0px 0px;
		color: white;
	}
	#contacto > h2 > a {
		text-decoration: none;
		color: black;
	}
	#contacto > h2 > a:hover {
		color: #67c3ec;
		text-shadow: 1px 1px 2px black; 
	}
	
	
}
	







	
@media screen and ( min-width: 982px ){
	
	

	#hamburguesa {
		display: none;
	}

	/* Reseteamos el alto del header que le dimos en mobile para que crezca ahora de acuerdo a su contenido como cualquier caja de bloque. */

	header {
		height: auto;
		max-width: 1100px;
		margin: auto;
	}

	section {
		max-width: 1100px;
		margin: auto;
	}

	/* Ahora queremos el nav y el logo en línea, para ello los ponemos inline-block y los centramos verticalmente para que no desequilibren por diferencia de contenido. Al menú le damos un ancho para que entren los botones en línea dentro. No es necesario quitarle el position absolute ya que se lo dimos dentro de la consulta de mobile que no se aplica ahora. */

	h1 {
		display: -webkit-inline-box;
		vertical-align: middle;
	
		background: url(imagenes/logo2.png) no-repeat #67c3ec;
		height: 2em;
		text-indent: -2050px;
		overflow: hidden;
		margin-left: 5%;
	}

	
	#menu {
		display: inline-flex;
		width: 80%;
		vertical-align: middle;
	}

	/* Cambiamos el posicionamiento de la barra de absoluto a static (flujo normal o natural) para que ocupe su lugar dentro del nav, también reseteamos el alto que le dimos en mobile para que ocupe toda la pantalla disponible allí y alineamos el texto a la derecha para correr los botones hacia ese costado. Por último, quitamos el color de fondo para que los botones se integren al header. */
	#barra li a {
		text-decoration: none;
		display: block;
		color: white;
		border-radius: 10px;
		text-align: center;
		line-height: 2em;
		border: 1px solid silver;
		box-shadow: 3px 15px 22px -9px black;
	}
	#barra li a:hover {
		color: black;
		box-shadow: 3px 15px 22px -9px white;
	}
	#barra {
		position: static;
		height: auto;
		text-align: left;
		background: none;
	}

	/* Ajustamos un nuevo tamaño para los botones en px para que se ubiquen en línea (ya tenían aplicado el display inline-block en mobile para que los podamos poner en línea ahora). También les reseteamos el margen vertical que antes nos servía para separar los botones apilados. Corregimos la alineación del texto de los botones para que no queden a la derecha. */

	#barra li {
		width: 110px;
		margin: 0 1em;
		text-align: center;
	}
	
	iframe {
	
		text-align: center;
		width: 70%;
		margin: 2em;
		border-radius: 20px;
		box-shadow: 0px 15px 22px -9px black;
	}
	#video23 {
		padding: 3em 3em;
		background: linear-gradient(to bottom, #67c3ec, white);
	}
	#video23 > div{
		margin-left: 20%;
	}
	#video23 > figcaption {

		font-size: 1.5em;
		text-decoration: none;
		color: black;
	}
	#video23 > figcaption > a {
		font-family: 'Roboto', sans-serif;
		font-size: 2em;
		text-decoration: none;
		color: black;
	}
	#video23 > figcaption a:hover {
		color: #67c3ec;
		text-shadow: 1px 1px 2px black; 
	}

	main > #principal {
		display: flex;
		flex-direction: column;
	}
	#principal > #bicicletas {
		display: flex;
		flex-direction: column;
		
	}
	#principal > #bicicletas > #texto01 {
		display: flex;
		flex-direction: row;
		
	}

	#texto01 > #img1 {
		margin: 0;
		height: 23em;
		width: 100%;
		background: url(imagenes/0007.png) no-repeat;
		background-color: #90bbe161;
		border-radius: 0px 203px 0px 0px;
	}
	#texto01 > div {
		width: 80%;
		padding: 1em 1em;
		font-size: 1.4em;
		line-height: 1.4em;
		margin-bottom: 0em;
		justify-content: center;
	}
	#bicicletas > #texto01 > div > p a {
		display: none;
	}
	
	#bicicletas > h3 > a{
		font-family: 'Roboto', sans-serif;
		font-size: 2.5rem;
		padding: 2rem 0.4rem;
		margin-left: 10.9em;
		text-decoration: none; 
		color: black;

	}
	#bicicletas > h3 > a:hover {
		color: white;
		text-shadow: 1px 1px 2px black; 

	}
	#bicicletas > h4 {
		font-family: 'Roboto', sans-serif;
		font-size: 2em;
		margin-left: 13.4em;
		padding: 1em 0.4em;
	}
	
	#bicicletas > h4:hover {
		color: white;
		text-shadow: 1px 1px 2px black; 
	}
	
	
	textarea {
		resize: none;
		margin: 1em 6em;
		width: 72%;
	}
	#ecologia {	
		max-width: 1100px;
		margin: auto;
		width: 100%;
	}
	#ecologia > #dos {
		display: flex;		
		justify-content: center;
		width: 100%;
	}
	#ecologia > #dos > div {
		margin: 1em;
	}
	#ecologia > #uno {
		padding: 40px;
		width: 100%;
		font-size: 1.4em;
		line-height: 1.4em;
		justify-content: center;
	}
	#ecologia > #uno > h3 {
		font-family: verdana;
		font-size: 2em;
		padding-bottom: 1em;
	}
	#ecologia > #uno > h3 > a{		
		text-decoration: none;
		color: black;
	}
	#ecologia > #uno > h3 > a:hover {
		color: white;
		text-shadow: 1px 1px 2px black; 
	
		
	}
	#ecologia > #uno > p > a {
		display: none;
		
	}
	#ecologia > #dos > :nth-child(1){
		width: 250px;
		height: 258px;
		border: 2px solid black;
		border-radius: 10px;
		background: url(imagenes/0011pc.jpg) no-repeat #0096ff29;
		margin-bottom: 25px;
		margin-top: 55px;
		box-shadow: -5px -1px 13px -5px black;
	
	}
	
	#ecologia > #dos > :nth-child(2){
		width: 252px;
		height: 258px;
		border: 2px solid black;
		border-radius: 10px;
		background: url(imagenes/0015tb.jpg) no-repeat #0096ff29;
		margin-bottom: 25px;
		margin-top: 55px;
		box-shadow: -5px -1px 13px -5px black;
	}
	
	#ecologia > #dos > :nth-child(3){
		width: 252px;
		height: 258px;
		border: 2px solid black;
		border-radius: 10px;
		background: url(imagenes/0003pc.jpg) no-repeat #0096ff29;
		margin-bottom: 25px;
		margin-top: 55px;
		box-shadow: -5px -1px 13px -5px black;
	}
	#ecologia > #dos > :nth-child(4){
		width: 252px;
		height: 258px;
		border: 2px solid black;
		border-radius: 10px;
		background: url(imagenes/0013pc.jpg) no-repeat #0096ff29;
		margin-bottom: 25px;
		margin-top: 55px;
		box-shadow: -5px -1px 13px -5px black;
	}
	

	#bicimundo {
		display: flex;
		flex-direction: column;
		background: linear-gradient(to bottom, white, #67c3ec);
		
	}
	#bicimundo > h3 {
		font-size: 2em;
		font-family: verdana;
		padding: .5em 0.7em;
		padding-bottom: 0;
		margin-left: 0.4em;
	}	
	#bicimundo > h3 > a {
		
		text-decoration: none;
		color: black;
	}
	
	#bicimundo > h3 > a:hover  {
		color: white;
		text-shadow: 1px 1px 2px black; 
	
		
	}
	#bicimundo > #londres{
		display: flex;
		flex-direction: column;
		width: 400px;
		background: url(imagenes/0009b_pc.jpg) no-repeat right white;
		height: auto;
		margin: 1em;
		margin-left: 50%;
		border-radius: 10px;
		box-shadow: 0px 15px 22px -9px black;
	}
	#bicimundo > #londres > h4{
		width: 59%;
		padding: .5em;
		font-size: 1.3rem;
	}
	#bicimundo > #londres > h5{
		width: 59%;
		margin: .5em;
	}
	#bicimundo > #londres > p{
		width: 57%;
		padding: 2%;
	}
	#bicimundo > #rio{
		display: flex;
		flex-direction: column;
		width: 400px;
		background: url(imagenes/0012b_pc.jpg) no-repeat right white;
		height: auto;
		margin: 1em;
		margin-left: 30%;
		border-radius: 10px;
		box-shadow: 0px 15px 22px -9px black;
	}
	#bicimundo > #rio > h4{
		width: 59%;
		padding: .5em;
		font-size: 1.3rem;
	}
	#bicimundo > #rio > h5{
		width: 59%;
		margin: .5em;
	}
	#bicimundo > #rio > p{
		width: 57%;
		padding: 2%;
	}
	
	#bicimundo > #madrid{
		display: flex;
		flex-direction: column;
		width: 400px;
		background: url(imagenes/0014b_pc.jpg) no-repeat right white;
		height: auto;
		margin: 1em;
		border-radius: 10px;
		box-shadow: 0px 15px 22px -9px black;
	}
	#bicimundo > #madrid > h4{
		width: 59%;
		padding: .5em;
		font-size: 1.3rem;
	}
	#bicimundo > #madrid > h5{
		width: 59%;
		margin: .5em;
	}
	#bicimundo > #madrid > p{
		width: 57%;
		padding: 2%;
	}
	
	#bicimundo > #amsterdam{
		display: flex;
		flex-direction: column;
		width: 400px;
		background: url(imagenes/0001b_pc.jpg) no-repeat right white;
		height: auto;
		margin: 1em;
		margin-left: 30%;
		border-radius: 10px;
		box-shadow: 0px 15px 22px -9px black;
	}
	#bicimundo > #amsterdam > h4{
		width: 59%;
		padding: .5em;
		font-size: 1.3rem;
	}
	#bicimundo > #amsterdam > h5{
		width: 59%;
		margin: .5em;
	}
	#bicimundo > #amsterdam > p{
		width: 57%;
		padding: 2%;
		font-size: 0.9em;
	}
	
	#bicimundo > #newyork{
		display: flex;
		flex-direction: column;
		width: 400px;
		background: url(imagenes/0010b_pc.jpg) no-repeat right white;
		height: auto;
		margin: 1em;
		margin-left: 50%;
		border-radius: 10px;
		box-shadow: 0px 15px 22px -9px black;
	}
	#bicimundo > #newyork > h4{
		width: 59%;
		padding: .5em;
		font-size: 1.3rem;
	}
	#bicimundo > #newyork > h5{
		width: 40%;
		margin: .5em;
	}
	#bicimundo > #newyork > p{
		width: 57%;
		padding: 2%;
		font-size: .9em;
	}
	
	
	
	#contacto {
		display: flex;
		flex-direction: column;	
		width: 100%;
		background: linear-gradient(to bottom, #67c3ec, white);
	}
	#contacto > h2  {		
		font-size: 2em;
		font-family: verdana;
		padding: 1em 0.3em;
		color: white;
		margin-left: .3em;
	}
	#contacto > h2 > a  {			
		text-decoration: none;
		color: black;
	}
	#contacto > h2 > a:hover {
		color: #67c3ec;
		text-shadow: 1px 1px 2px black; 
	}
	
	#contacto > aside {
		display: flex;
		flex-direction: row;
		width: 100%
	}
	#contacto > aside > div {
		width: 36%;
		margin: 1em 4em;
		padding: 1em 1em;
	}
	#contacto > aside > div > iframe {
		width: 93%;
		border-radius: 15px;
		height: 80%;
		box-shadow: 0px 15px 22px -9px black;
	}
	#contacto > aside > form > #datos {
		display: flex;
		flex-direction: row;
		margin: 1em 4em;
		
	}
	#contacto > aside > form > #datos :nth-child(1) input {
		border: 1px solid yellow;
		box-shadow: 0px 15px 22px -9px black;
	}
	#contacto > aside > form > #datos :nth-child(2) input {
		border: 1px solid yellow;
		box-shadow: 0px 15px 22px -9px black;
	}
	#contacto > aside > form > #datos3 {
		display: flex;
		flex-direction: row;
		margin: 1em 4em;
	
	}
	#contacto > aside > form > #datos3 :nth-child(1) input {
		border: 1px solid yellow;
		box-shadow: 0px 15px 22px -9px black;
	}
	#contacto > aside > form > #datos3 :nth-child(2) input {
		border: 1px solid yellow;
		box-shadow: 0px 15px 22px -9px black;
	}
	#contacto > aside > form > #comentarios :nth-child(1) {
		border: 1px solid yellow;
		box-shadow: 0px 15px 22px -9px black;
	}
	#contacto > aside > form > #envio {
		display: flex;
		flex-direction: row;
		margin: 1em 4em;
		width:50%;
	}
	#contacto > aside > form > #envio :nth-child(1) {
		background: green;
		color: white;
		border: 1px solid yellow;
		box-shadow: 0px 15px 22px -9px black;
	}
	#contacto > aside > form > #envio :nth-child(2) {
		background: yellow;
		color: black;
		border: 1px solid green;
		box-shadow: 0px 15px 22px -9px black;
	}
	footer {
		height: 10.5em;
		background-color: black;
		overflow: hidden;
		color: white;
		box-shadow: 0px 15px 22px -9px black;
	}
	footer ul li {
		display: inline-block;
		margin: 15px 0px;
	}
	footer > div > #menu1 >  li {
		display: inline-block;
		height: 3em;
		padding: 10px 10px;
	}
	
	footer > div > #menu1 {
		height: 6em;
		background: #878790;
		width: 100%;
		padding: 1em 1em;
		margin: 2em 0em;
				
	}
	
	footer > div > #menu1 li a {
		background: url(imagenes/sprite.png) no-repeat white;
		border-radius: 20px;
		padding: 24px 23px;
		font-size: 0px;
		border: 1px solid #878790;
	}
		
	#menu1  li:nth-child(2) a{
		background-position: -107px -199px;
	}
	#menu1 li:nth-child(2) a:hover{
		background-position: -107px -148px;
	}
	
	
	#menu1 li:nth-child(3) a{
		background-position: -55px -200px;
	}
	#menu1 li:nth-child(3) a:hover{
		background-position: -55px -148px;
	}
	
	
	#menu1 li:nth-child(4) a{
		background-position:-205px -201px
	}
	#menu1 li:nth-child(4) a:hover{
		background-position: -205px -149px
	}
	
	
	#menu1 li:nth-child(5) a{
		background-position: -157px -201px
	}
	#menu1 li:nth-child(5) a:hover{
		background-position: -154px -149px
	}
	
	
	#menu1 li:nth-child(1) a{
		background-position: -4px -198px;
	}
	#menu1 li:nth-child(1) a:hover{
		background-position: -4px -152px;
	}

}	





/*---tablet---*/





@media screen and (min-width: 521px) and (max-width: 981px) {
	
	
	
	
	body {
		margin: 0 auto;
	}
	
	
	h1 {
		background: url(imagenes/logo2.png) no-repeat #67c3ec;
		height: 2.5em;
		text-indent: -2050px;
		overflow: hidden;
		margin-left: 75%;
	}

	nav {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
	}

	

	#hamburguesa li {
		list-style: none;
		text-indent: -100px;
		overflow: hidden;
		margin-top: .75em;
		width: 2.5em;
	}

	

	#hamburguesa li a {
		background: url("imagenes/menu.png") no-repeat center center;
		background-size: cover;
		display: block;
		height: 2.5em;
	}



	#hamburguesa li:last-child {
		display: none;
	}

	

	nav:target #barra {
		left: 0;
	}

	nav:target #hamburguesa li:first-child {
		display: none;
	}

	nav:target #hamburguesa li:last-child {
		display: block;
	}
	
	main > #principal {
		display: flex;
		flex-direction: column;
	}
	#bicicletas {
		display: flex;
		flex-direction: column;
		padding: 2%;
	}
	#bicicletas > h3 {
		font-size: 2em;
		padding: 1% 5%;
		font-family: 'Roboto', sans-serif;
	}
	#bicicletas > h3 > a{
		text-decoration: none;
		color: black;
	}
	#bicicletas > h3 > a:hover {
		color: white;
		text-shadow: 1px 1px 2px black;
	}	
	#bicicletas > h4 {
		font-size: 2em;
		padding: 4% 5%;
		
	}
	#bicicletas > h4:hover {
		color: white;
		text-shadow: 1px 1px 2px black;
		
	}
	#bicicletas > #texto01 {
		font-size: 1.4em;
		justify-content: center;
		line-height: 1.4em;	
		padding: 2em;
	}
	
	#bicicletas > #texto01 > #texto2 {
		padding: 1em;
	}
	#bicicletas > #texto01 > img {
		display: none;
	
	}
	
	#bicicletas > #texto01 > div > p a{
		display: none;
	}
	
	iframe {
	
		text-align: center;
		width: 70%;
		margin: 2em;
		border-radius: 20px;
		box-shadow: 0px 15px 22px -9px black;
	}
	#video23 {
		background: linear-gradient(to bottom, #67c3ec, white);
	}
	#video23 > div{
		text-align: center;
	}
	#video23 > figcaption {
		text-align: center;
		font-size: 1.4em;
		text-decoration: none;
		color: black;
		padding-top: 1em;
	}
	#video23 > figcaption > a {
		font-family: 'Roboto', sans-serif;
		font-size: 2em;
		text-decoration: none;
		color: black;
		
	}
	#video23 > figcaption a:hover {
		color: #67c3ec;
		text-shadow: 1px 1px 2px black; 
	}
	#ecologia {
			
		max-width: 1100px;
		margin: auto;
		width: 100%;
	}
	#ecologia > #dos {
		display: flex;
		justify-content: center;
		width: 100%;
	}
	#ecologia > #dos > div {
		margin: 1em;
	}
	#ecologia > #dos > :nth-child(3){
		display: none;
	}
	#ecologia > #dos > :nth-child(2){
		display: none;
	}
	#ecologia > #uno {
		padding: 40px;
		width: 100%;
		font-size: 1.4em;
		line-height: 1.4em;
		
	}	
	#ecologia > #uno > h3{
		font-family: verdana;
		font-size: 1.3em;
		padding-bottom: 1em;
		line-height: 1.4em;
	}
	#ecologia > #uno > h3 > a{
		text-decoration: none;
		color: black;
	}
	#ecologia > #uno > h3 > a:hover{
		color: #67c3ec;
		text-shadow: 1px 1px 2px black; 
	}
	#ecologia > #uno > p > a {
		display: none;
		
	}
	#ecologia > #dos > :nth-child(1){
		width: 250px;
		height: 180px;
		border: 2px solid black;
		border-radius: 10px;
		background: url(imagenes/0011tblet.jpg) no-repeat #fafafa;
		margin-bottom: 25px;
		box-shadow: -5px -1px 13px -5px black;
	
	}
	
	#ecologia > #dos > :nth-child(2){
		width: 180px;
		height: 180px;
		border: 2px solid black;
		border-radius: 10px;
		background: url(imagenes/0015pc.jpg) no-repeat #fafafa;
		margin-bottom: 25px;
		box-shadow: -5px -1px 13px -5px black;
	}
	
	#ecologia > #dos > :nth-child(3){
		width: 180px;
		height: 180px;
		border: 2px solid black;
		border-radius: 10px;
		background: url(imagenes/0013pc.jpg) no-repeat #fafafa;
		margin-bottom: 25px;
		box-shadow: -5px -1px 13px -5px black;
	}
	#ecologia > #dos > :nth-child(4){
		width: 250px;
		height: 180px;
		border: 2px solid black;
		border-radius: 10px;
		background: url(imagenes/0013tblet.jpg) no-repeat #fafafa;
		margin-bottom: 25px;
		box-shadow: -5px -1px 13px -5px black;
	}
	
	#bicimundo {
		display: flex;
		flex-wrap: wrap;
		background: linear-gradient(to bottom, #fafafa, #67c3ec);
	}
	#bicimundo > h3 {
		font-size: 2em;
		padding: .5em 1.3em;
		padding-bottom: 0;
	}
	#bicimundo > h3 > a {
		text-decoration: none;
		color: black;
	}
	#bicimundo > h3 > a:hover{
		color: #67c3ec;
		text-shadow: 1px 1px 2px black; 
		
	}
	#bicimundo > #londres{
		display: flex;
		flex-wrap: wrap;
		width: 400px;
		background: url(imagenes/0009_pc.jpg) no-repeat right #fafafa;
		height: auto;
		margin: 1em;
		border-radius: 10px;
		box-shadow: 0px 15px 22px -9px black;
		margin-left: 30%;
	}
	#bicimundo > #londres > h4{
		width: 59%;
		padding: .5em;
		font-size: 1.3rem;
	}
	#bicimundo > #londres > h5{
		width: 59%;
		margin: .5em;
	}
	#bicimundo > #londres > p{
		width: 57%;
		padding: 2%;
	}
	#bicimundo > #rio{
		display: flex;
		flex-wrap: wrap;
		width: 400px;
		background: url(imagenes/0012b_pc.jpg) no-repeat right #fafafa;
		height: auto;
		margin: 1em;
		border-radius: 10px;
		box-shadow: 0px 15px 22px -9px black;
		
	}
	#bicimundo > #rio > h4{
		width: 59%;
		padding: .5em;
		font-size: 1.3rem;
	}
	#bicimundo > #rio > h5{
		width: 59%;
		margin: .5em;
	}
	#bicimundo > #rio > p{
		width: 57%;
		padding: 2%;
	}
	
	#bicimundo > #madrid{
		display: flex;
		flex-wrap: wrap;
		width: 400px;
		background: url(imagenes/0014b_pc.jpg) no-repeat right #fafafa;
		height: auto;
		margin: 1em;
		border-radius: 10px;
		box-shadow: 0px 15px 22px -9px black;
		margin-left: 30%;
	}
	#bicimundo > #madrid > h4{
		width: 59%;
		padding: .5em;
		font-size: 1.3rem;
	}
	#bicimundo > #madrid > h5{
		width: 59%;
		margin: .5em;
	}
	#bicimundo > #madrid > p{
		width: 57%;
		padding: 2%;
	}
	
	#bicimundo > #amsterdam{
		display: flex;
		flex-wrap: wrap;
		width: 400px;
		background: url(imagenes/0001b_pc.jpg) no-repeat right #fafafa;
		height: auto;
		margin: 1em;
	
		border-radius: 10px;
		box-shadow: 0px 15px 22px -9px black;



	}
	#bicimundo > #amsterdam > h4{
		width: 59%;
		padding: .5em;
		font-size: 1.3rem;
	}
	#bicimundo > #amsterdam > h5{
		width: 59%;
		margin: .5em;
	}
	#bicimundo > #amsterdam > p{
		width: 57%;
		padding: 2%;
		font-size: 0.9em;
	}
	
	#bicimundo > #newyork{
		display: flex;
		flex-wrap: wrap;
		width: 400px;
		background: url(imagenes/0010b_pc.jpg) no-repeat right #fafafa;
		height: auto;
		margin: 1em;
		margin-left: 30%;
		border-radius: 10px;
		box-shadow: 0px 15px 22px -9px black;
	}
	#bicimundo > #newyork > h4{
		width: 59%;
		padding: .5em;
		font-size: 1.3rem;
	}
	#bicimundo > #newyork > h5{
		width: 40%;
		margin: .5em;
	}
	#bicimundo > #newyork > p{
		width: 57%;
		padding: 2%;
		font-size: .9em;
	}
	
	
	
	
	#contacto {
		display: flex;
		flex-direction: column;	
		width: 100%;
		padding: .5em;
		background: linear-gradient(to bottom, #67c3ec, #fafafa);
	}
	#contacto > h2 {
		font-size: 2em;
		padding: 0.5em 1.4em;	
		border-radius: 25px 25px 0px 0px;
		color: #fafafa;
	}
	#contacto > h2 > a {
		text-decoration: none;
		color: black;
	}
	#contacto > h2 > a:hover {
		color: #67c3ec;
		text-shadow: 1px 1px 2px black; 
	}
	
	#contacto > aside {
		display: flex;
		flex-wrap: nowrap;
		width: 100%
	}
	#contacto > aside > form {
		display: flex;
		flex-wrap: wrap;
		width: 100%;
		margin: 0 -.8em;
	}
	#contacto > aside > div > iframe {
		width: 80%;
		border-radius: 15px;
		height: 80%;
		box-shadow: 0px 15px 22px -9px black;
	}
	#contacto > aside > div {
		width: 81%;
		margin: 0em 0em;
		padding: 2em 0.9em;
		text-align: center;
		margin-left: -1em;
		overflow: hidden;
	}

	#contacto > aside > form > #datos {
		display: flex;
		flex-wrap: nowrap;
		margin: 0em 2em;
	
	}
	#contacto > aside > form > #envio {
		display: flex;
		flex-wrap: nowrap;
		width: 46%;
		margin: 1em 4em;

	}
	#contacto > aside > form > #datos3 {
		display: flex;
		flex-wrap: nowrap;
		margin: 0em 2em;
	
	}
	#contacto > aside > form > #comentarios  {
		width: 90%;
		margin-left: -8%;
	}
	#contacto > aside > form > #datos :nth-child(1) input {
		border: 1px solid yellow;
		box-shadow: 0px 15px 22px -9px black;
	}
	#contacto > aside > form > #datos :nth-child(2) input {
		border: 1px solid yellow;
		box-shadow: 0px 15px 22px -9px black;
	}
	
	#contacto > aside > form > #datos3 :nth-child(1) input {
		border: 1px solid yellow;
		box-shadow: 0px 15px 22px -9px black;
	}
	#contacto > aside > form > #datos3 :nth-child(2) input {
		border: 1px solid yellow;
		box-shadow: 0px 15px 22px -9px black;
	}
	
	#contacto > aside > form > #comentarios :nth-child(1) {
		border: 1px solid yellow;
		box-shadow: 0px 15px 22px -9px black;
		width: 90%;
	}
	
	#contacto > aside > form > #envio :nth-child(1) {
		background: green;
		color: white;
		border: 1px solid yellow;
		box-shadow: 0px 15px 22px -9px black;
	}
	#contacto > aside > form > #envio :nth-child(2) {
		background: yellow;
		color: black;
		border: 1px solid green;
		box-shadow: 0px 15px 22px -9px black;
	}
	
	textarea {
		resize: none;
		margin: 1em 7em;
		width: 69%;

	}
	#contacto >  aside > form > #envio > input {
		margin: 0.7em .5em;
		width: 90%;
		padding: 1em 2em;
		border-radius: 10px;
			
	}
	input {
		margin: 0.7em 2.5em;
		width: 90%;
		padding: 1em 2em;
		border-radius: 10px;
		
	}
	
	footer {
		height: 10em;
		background-color: black;
		overflow: hidden;
		color: white;
		box-shadow: 0px 15px 22px -9px black;
	}
	footer > ul {
		height: 3em;
		
	}
	footer ul li {
		display: inline-block;
		margin: 15px 0px;
		margin-bottom: 0em;
	}
	footer > div > #menu1 >  li {
		display: inline-block;
		height: 3em;
		padding: 10px 10px;
	}
	
	footer > div > #menu1 {	
		height: 5em;
		background: #878790;
		width: 100%;
		margin: 2em 0em;
				
	}
	
	footer > div > #menu1 li a {
		background: url(imagenes/sprite.png) no-repeat white;
		border-radius: 20px;
		padding: 24px 23px;
		font-size: 0px;
		border: 1px solid #878790;
	}
		
	#menu1  li:nth-child(2) a{
		background-position: -107px -199px;
	}
	#menu1 li:nth-child(2) a:hover{
		background-position: -107px -148px;
	}
	
	
	#menu1 li:nth-child(3) a{
		background-position: -55px -200px;
	}
	#menu1 li:nth-child(3) a:hover{
		background-position: -55px -148px;
	}
	
	
	#menu1 li:nth-child(4) a{
		background-position:-205px -201px
	}
	#menu1 li:nth-child(4) a:hover{
		background-position: -205px -149px
	}
	
	
	#menu1 li:nth-child(5) a{
		background-position: -157px -201px
	}
	#menu1 li:nth-child(5) a:hover{
		background-position: -154px -149px
	}
	
	
	#menu1 li:nth-child(1) a{
		background-position: -4px -198px;
	}
	#menu1 li:nth-child(1) a:hover{
		background-position: -4px -152px;
	}

	
	
	
	
	
	
	
}

@media screen and (max-width: 520px) {

	
	h1 {
		background: url(imagenes/logo2.png) no-repeat #67c3ec;
		height: 2.5em;
		text-indent: -2050px;
		overflow: hidden;
		margin-left: 60%;
	}
	iframe {
	
		text-align: center;
		width: 70%;
		margin: 2em;
		border-radius: 20px;
		box-shadow: 0px 15px 22px -9px black;
	}
	#video23 {
		background: linear-gradient(to bottom, #67c3ec, white);
	}
	#video23 > div{
		text-align: center;
	}
	#video23 > figcaption {
		text-align: center;
		font-size: 1.4em;
		text-decoration: none;
		color: black;
		padding-top: 1em;
	}
	#video23 > figcaption > a {
		font-family: 'Roboto', sans-serif;
		font-size: 1.4em;
		text-decoration: none;
		color: black;
		
	}
	#video23 > figcaption a:hover {
		color: #67c3ec;
		text-shadow: 1px 1px 2px black; 
	}

	nav {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
	}

	

	#hamburguesa li {
		list-style: none;
		text-indent: -100px;
		overflow: hidden;
		margin-top: .75em;
		width: 2.5em;
	}

	

	#hamburguesa li a {
		background: url("imagenes/menu.png") no-repeat center center;
		background-size: cover;
		display: block;
		height: 2.5em;
	}

	

	#hamburguesa li:last-child {
		display: none;
	}

	

	nav:target #barra {
		left: 0;
	}

	nav:target #hamburguesa li:first-child {
		display: none;
	}

	nav:target #hamburguesa li:last-child {
		display: block;
	}
	#contacto > h2 {
		font-size: 2em;
		background: #67c3ec;
		padding: 1em 0.3em;
		color: white;
		border-radius: 25px 25px 0px 0px;
	}

	#contacto > h2 > a {
		
		text-decoration: none; 
		color: none;
	}
	#contacto > h2 > a:hover {
		color: #67c3ec;
		text-shadow: 1px 1px 2px black; 
	}
	
	#contacto > aside > form > #envio {
		display: flex;
		flex-direction: row;
		margin: 0em 0em;
		width: 94%;
	}

	#contacto > aside > div > iframe {
		width: 89%;
		border-radius: 15px;
		height: 80%;
		box-shadow: 0px 15px 22px -9px black;
		margin: 1em 1em;
	}
	#contacto > aside > form > #datos :nth-child(1) input {
		border: 1px solid yellow;
		box-shadow: 0px 15px 22px -9px black;
	}
	#contacto > aside > form > #datos :nth-child(2) input {
		border: 1px solid yellow;
		box-shadow: 0px 15px 22px -9px black;
	}
	
	#contacto > aside > form > #datos3 :nth-child(1) input {
		border: 1px solid yellow;
		box-shadow: 0px 15px 22px -9px black;
	}
	#contacto > aside > form > #datos3 :nth-child(2) input {
		border: 1px solid yellow;
		box-shadow: 0px 15px 22px -9px black;
	}
	#contacto > aside > form > #comentarios :nth-child(1) {
		border: 1px solid yellow;
		box-shadow: 0px 15px 22px -9px black;
	}
	
	#contacto > aside > form > #envio :nth-child(1) {
		background: green;
		color: white;
		border: 1px solid yellow;
		box-shadow: 0px 15px 22px -9px black;
	}
	#contacto > aside > form > #envio :nth-child(2) {
		background: yellow;
		color: black;
		border: 1px solid green;
		box-shadow: 0px 15px 22px -9px black;
	}
	
	#bicicletas > h3 {
		text-align: center;
		font-family: verdana;
		font-size: 2rem;
		padding: 0.3em;
	}
	#bicicletas > h3 > a  {
		text-decoration: none;
		color: black;
	}
	
	#bicicletas > h3 > a:hover {
		color: #67c3ec;
		text-shadow: 1px 1px 2px black; 
	}
	
	#bicicletas > h4 {
		text-align: center;
		font-size: 1.4rem;
		font-family: 'Roboto', sans-serif;
		padding: 0.3em;
	}
	
	
	#texto01 {
		padding: 1.2em 1em;
		line-height: 1.5em;
		border-radius: 0px 0px 78px 0px;
		text-align: justify;
		margin-bottom: 1em;
	}
	
	#texto01 > div > p > a {
		border: 2px solid black;
		padding: .3em 1em;
		font-size: 1.4em;
		font-family: 'Roboto', sans-serif;
		border-radius: 10px;
		text-decoration: none;
		color: white;
		background: blue;
		margin-left: 30%;
		box-shadow: 0px 15px 22px -9px black;
	}
	
	#texto01 > #texto02 {
		display: none;
	}
	
	#video01 > figure > div > iframe {
		padding: 1em 1em;
	}
	#ecologia {
		background: #0096ff63;		
		max-width: 1100px;
		margin: auto;
		width: 100%;
	}
	#ecologia > #uno > h3 {
		text-align: center;
		font-family: verdana;
		font-size: 2em;
		padding-bottom: 0em;
		line-height: 1em;
	
	}
	#ecologia > #uno > h3 > a{
		
		text-decoration: none;
		color: black;
	}
	#ecologia > #uno > h3 > a:hover{
		color: #67c3ec;
		text-shadow: 1px 1px 2px black; 
	}
	#ecologia > #uno > #texto3 {
		display: none;
	} 
	#ecologia > #uno > p > a {
		border: 2px solid black;
		padding: .3em 1em;
		font-size: 1.4em;
		font-family: 'Roboto', sans-serif;
		border-radius: 10px;
		text-decoration: none;
		color: white;
		background: blue;
		margin-left: 30%;
		box-shadow: 0px 15px 22px -9px black;
	}
	#ecologia > #uno > div {
		padding: 1.5em 0em;
	}
	#uno {
		padding: 1.2em 1em;
		line-height: 1.5em;
		border-radius: 0px 0px 78px 0px;
		text-align: justify;

	}
	
	#bicimundo {
		display: flex;
		flex-direction: column;
		margin-top: 2em;
	}
	#bicimundo > h3	{
		font-size: 1.5em;
		font-family: verdana;
		text-align: center;
	}
	#bicimundo > h3 > a {		
		text-decoration: none;
		color: black;
	}
	#bicimundo > h3 > a:hover{
		color: #67c3ec;
		text-shadow: 1px 1px 2px black; 
		
	}	
	#bicimundo > #londres{
		display: flex;
		flex-direction: column;
		background: url(imagenes/0009t_pc.jpg) no-repeat right #0096ff29;
		height: auto;
		margin: 1em;
		border-radius: 10px;
		box-shadow: 0px 15px 22px -9px black;
	}
	#bicimundo > #londres > h4{
		width: 59%;
		padding: .5em;
		font-size: 1.3rem;
	}
	#bicimundo > #londres > h5{
		width: 59%;
		margin: .5em;
	}
	#bicimundo > #londres > p{
		width: 57%;
		padding: 2%;
	}
	#bicimundo > #rio{
		display: flex;
		flex-direction: column;
		background: url(imagenes/0012t_pc.jpg) no-repeat right #0096ff29;
		height: auto;
		margin: 1em;
		border-radius: 10px;
		box-shadow: 0px 15px 22px -9px black;
	}
	#bicimundo > #rio > h4{
		width: 59%;
		padding: .5em;
		font-size: 1.3rem;
	}
	#bicimundo > #rio > h5{
		width: 59%;
		margin: .5em;
	}
	#bicimundo > #rio > p{
		width: 57%;
		padding: 2%;
		justify-content: center;
	}
	
	#bicimundo > #madrid{
		display: flex;
		flex-direction: column;
		background: url(imagenes/0014t_pc.jpg) no-repeat right #0096ff29;
		height: auto;
		margin: 1em;
		border-radius: 10px;
		box-shadow: 0px 15px 22px -9px black;
	}
	#bicimundo > #madrid > h4{
		width: 59%;
		padding: .5em;
		font-size: 1.3rem;
	}
	#bicimundo > #madrid > h5{
		width: 59%;
		margin: .5em;
	}
	#bicimundo > #madrid > p{
		width: 57%;
		padding: 2%;
	}
	
	#bicimundo > #amsterdam{
		display: flex;
		flex-direction: column;
		background: url(imagenes/0001t_pc.jpg) no-repeat right #0096ff29;
		height: auto;
		margin: 1em;
		border-radius: 10px;
		box-shadow: 0px 15px 22px -9px black;
	}
	#bicimundo > #amsterdam > h4{
		width: 59%;
		padding: .5em;
		
	}
	#bicimundo > #amsterdam > h5{
		width: 59%;
		margin: .5em;
	}
	#bicimundo > #amsterdam > p{
		width: 57%;
		padding: 2%;
		font-size: 0.9em;
	}
	
	#bicimundo > #newyork{
		display: flex;
		flex-direction: column;
		background: url(imagenes/0010t_pc.jpg) no-repeat right #0096ff29;
		height: auto;
		margin: 1em;
		border-radius: 10px;
		box-shadow: 0px 15px 22px -9px black;
	}
	#bicimundo > #newyork > h4{
		width: 59%;
		padding: .5em;
		font-size: 1.3rem;
	}
	#bicimundo > #newyork > h5{
		width: 40%;
		margin: .5em;
	}
	#bicimundo > #newyork > p{
		width: 57%;
		padding: 2%;
		font-size: .9em;
	}
	
	
	footer {
		display: inline-block;
		
		background-color: black;
		overflow: hidden;
		color: white;
		box-shadow: 0px 15px 22px -9px black;
	}
	
	footer ul li {
		display: inline-block;
		margin: 15px 0px;
	}
	
	footer > div > #menu1 >  li {
		display: inline-block;
		height: 3em;
		width: 16%;
		padding: 0.5em;
	}
	
	footer > div > #menu1 {
		height: 5em;
		background: #878790;
		width: 100%;
		
		
	}
	
	footer > div > #menu1 li a {
		background: url(imagenes/sprite.png) no-repeat white;
		border-radius: 20px;
		padding: 24px 23px;
		font-size: 0px;
		border: 1px solid #878790;
	}
		
	#menu1  li:nth-child(2) a{
		background-position: -107px -199px;
	}
	#menu1 li:nth-child(2) a:hover{
		background-position: -107px -148px;
	
	}
	
	
	#menu1 li:nth-child(3) a{
		background-position: -55px -200px;
	}
	#menu1 li:nth-child(3) a:hover{
		background-position: -55px -148px;
	}
	
	
	#menu1 li:nth-child(4) a{
		background-position:-205px -201px
	}
	#menu1 li:nth-child(4) a:hover{
		background-position: -205px -149px
	}
	
	
	#menu1 li:nth-child(5) a{
		background-position: -157px -201px
	}
	#menu1 li:nth-child(5) a:hover{
		background-position: -154px -149px
	}
	
	
	#menu1 li:nth-child(1) a{
		background-position: -4px -198px;
	}
	#menu1 li:nth-child(1) a:hover{
		background-position: -4px -152px;
	}

}
	
@media screen and (min-width: 320px) and (max-width: 360px){
			

			
	#bicicletas > h3  {
		text-align: center;
		font-family: 'Roboto', sans-serif;
		font-size: 1.7rem;
		padding: 0.3em;
	}
			
	#bicicletas > h3 > a  {
		text-decoration: none;
		color: black;
	}
	#bicicletas > h3 > a:hover  {
		color: #67c3ec;
		text-shadow: 1px 1px 2px black; 
	}	
	
	
	
	
	#contacto > h2 {
		font-size: 1.5em;
		background: #67c3ec;
		border-radius: 25px 25px 0px 0px;
	}		
	#contacto > h2 > a{		
		color: white;
		text-decoration: none;
	}
	#contacto > h2 > a:hover {
		color: #67c3ec;
		text-shadow: 1px 1px 2px black; 
	}	
}

@media screen and (min-width: 375px) and (max-width: 520px){
						
	#texto01 > div > p > a {				
		border: 2px solid black;
		padding: .3em 1em;
		font-size: 1.4em;
		border-radius: 10px;
		text-decoration: none;
		color: white;
		background: blue;
		margin-left: 35%;
		box-shadow: 0px 15px 22px -9px black;			
	}
	
	#ecologia > #uno > p > a {
		border: 2px solid black;
		padding: .3em 1em;
		font-size: 1.4em;
		font-family: 'Roboto', sans-serif;
		border-radius: 10px;
		text-decoration: none;
		color: white;
		background: blue;
		margin-left: 35%;
		box-shadow: 0px 15px 22px -9px black;
	}
	#contacto > h2 {
		font-size: 2em;
		background: #67c3ec;
		border-radius: 25px 25px 0px 0px;
	}
	
	#contacto > h2 > a {
		
		color: white;
		text-decoration: none;
	}
	#contacto > h2 > a:hover {
		color: #67c3ec;
		text-shadow: 1px 1px 2px black; 
	}
	
}